*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(241, 241, 247);
}

header{
    background-color: white;
}

.logo{
    padding: 10px 20px;
    font-size: 35px;
}
#logo{
    vertical-align: middle;
}

/* regole di layout */
.container{
    max-width: 1200px;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
}

nav{
    margin-top: 30px;
    margin-bottom: 2px;
}

/*misure bottoni */
.button{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
.task{
    background-color: cornflowerblue;
    margin: 15px 5px 15px 70px;
    color: white;
    border: solid cornflowerblue;
}
.section{
    border: solid rgb(199, 199, 199);
    margin: 15px 0px;
    color: rgb(199, 199, 199);
}

/* layout main */
.list-layout{
    padding:30px 70px;
}

/* list style */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    line-height: 1.5;
    padding: 8px 0px;
  }
  
.check{
    display: inline-block;
    color: rgb(31, 168, 51);  
    border: 1px solid rgb(31, 168, 51);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
.cross{
    display: inline-block;
    color: red;  
    border: 1px solid red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
  
.square{
    padding: 6px 10px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}
.editorial{
    background-color: cornflowerblue; 
    font-size: 12px;
    color: white;  
}
.q1{
    background-color: rgb(168, 132, 202);
    font-size: 12px;
    color: white;
}
.recruiting{
    background-color: rgb(67, 175, 148);
    font-size: 12px;
    color: white;
}
.mobile{
    background-color: orange;
    font-size: 12px;
    color: white;
}
.website{
    background-color: rgb(207, 103, 137);
    font-size: 12px;
    color: white;
}
.sales{
    background-color: rgb(103, 165, 28);
    font-size: 12px;
    color: white;
}
